.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
.logo {
  width: 100px; /* Adjust to the size you want */
  height: auto; /* Maintain aspect ratio */
}